html {
    color: white;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #0B0710;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: white;
}

h2 {
    font-size: 35px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: .3px;
}

body {
    body { color: #eaeaea; }
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color:  #120A1A;
    padding: 0 20px 20px 20px;
    line-height: 1.6;
    border-radius: 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

a {
    color: #6EE7B7;
    text-decoration: none;
}
